
@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-ss11-qi-thin.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-thin.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-ss11-qi-extendedthin.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extendedthin.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-ss11-qi-thinoblique.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-thinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('ttf/iosevka-ss11-qi-thinoblique.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-thinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-ss11-qi-extendedthinoblique.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extendedthinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('ttf/iosevka-ss11-qi-extendedthinoblique.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extendedthinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-ss11-qi-thinitalic.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-thinitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-ss11-qi-extendedthinitalic.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extendedthinitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-ss11-qi-extralight.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extralight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-ss11-qi-extendedextralight.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extendedextralight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-ss11-qi-extralightoblique.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('ttf/iosevka-ss11-qi-extralightoblique.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-ss11-qi-extendedextralightoblique.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extendedextralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('ttf/iosevka-ss11-qi-extendedextralightoblique.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extendedextralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-ss11-qi-extralightitalic.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extralightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-ss11-qi-extendedextralightitalic.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extendedextralightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-ss11-qi-light.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-light.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-ss11-qi-extendedlight.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extendedlight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-ss11-qi-lightoblique.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-lightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('ttf/iosevka-ss11-qi-lightoblique.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-lightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-ss11-qi-extendedlightoblique.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extendedlightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('ttf/iosevka-ss11-qi-extendedlightoblique.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extendedlightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-ss11-qi-lightitalic.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-lightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-ss11-qi-extendedlightitalic.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extendedlightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-ss11-qi-regular.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-ss11-qi-extended.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extended.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-ss11-qi-oblique.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-oblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('ttf/iosevka-ss11-qi-oblique.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-oblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-ss11-qi-extendedoblique.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extendedoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('ttf/iosevka-ss11-qi-extendedoblique.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extendedoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-ss11-qi-italic.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-ss11-qi-extendeditalic.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extendeditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-ss11-qi-medium.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-ss11-qi-extendedmedium.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extendedmedium.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-ss11-qi-mediumoblique.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-mediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('ttf/iosevka-ss11-qi-mediumoblique.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-mediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-ss11-qi-extendedmediumoblique.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extendedmediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('ttf/iosevka-ss11-qi-extendedmediumoblique.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extendedmediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-ss11-qi-mediumitalic.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-mediumitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-ss11-qi-extendedmediumitalic.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extendedmediumitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-ss11-qi-semibold.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-semibold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-ss11-qi-extendedsemibold.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extendedsemibold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-ss11-qi-semiboldoblique.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-semiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('ttf/iosevka-ss11-qi-semiboldoblique.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-semiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-ss11-qi-extendedsemiboldoblique.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extendedsemiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('ttf/iosevka-ss11-qi-extendedsemiboldoblique.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extendedsemiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-ss11-qi-semibolditalic.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-semibolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-ss11-qi-extendedsemibolditalic.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extendedsemibolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-ss11-qi-bold.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-ss11-qi-extendedbold.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extendedbold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-ss11-qi-boldoblique.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-boldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('ttf/iosevka-ss11-qi-boldoblique.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-boldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-ss11-qi-extendedboldoblique.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extendedboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('ttf/iosevka-ss11-qi-extendedboldoblique.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extendedboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-ss11-qi-bolditalic.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-bolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-ss11-qi-extendedbolditalic.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extendedbolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-ss11-qi-extrabold.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extrabold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-ss11-qi-extendedextrabold.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extendedextrabold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-ss11-qi-extraboldoblique.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('ttf/iosevka-ss11-qi-extraboldoblique.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-ss11-qi-extendedextraboldoblique.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extendedextraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('ttf/iosevka-ss11-qi-extendedextraboldoblique.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extendedextraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-ss11-qi-extrabolditalic.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extrabolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-ss11-qi-extendedextrabolditalic.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extendedextrabolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-ss11-qi-heavy.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-heavy.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-ss11-qi-extendedheavy.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extendedheavy.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-ss11-qi-heavyoblique.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-heavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('ttf/iosevka-ss11-qi-heavyoblique.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-heavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-ss11-qi-extendedheavyoblique.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extendedheavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('ttf/iosevka-ss11-qi-extendedheavyoblique.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extendedheavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-ss11-qi-heavyitalic.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-heavyitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS11 Qi Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-ss11-qi-extendedheavyitalic.ttf') format('truetype'), url('woff2/iosevka-ss11-qi-extendedheavyitalic.woff2') format('woff2');
}
